
/* Css Reset */

* {
    margin: 0;
    padding: 0;
}

/* CSS Variables */

:root {
    --navbar-height: 59px;

}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}
#navbar::before{
    content: " ";
    background-color: black;
    top: 0px;
    left: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;}
    

/*  Navigation BAR: Logo and image */

#logo{
    margin: 10px 34px;
}


#logo img{
    height: 59px;
    margin: 3px 6px;

}

/* Navigation BAr: List Styling */




        #navbar ul{
            display: flex;
            font-family: 'Dancing Script', cursive;
        }
        
        #navbar ul li{
            list-style: none;
            font-size:1.3rem ; 
        }
#navbar ul li a{
         color: white;
         display: block;
        padding: 3px 22px;
        border-radius: 20px;
        text-decoration: none;
     } 
 #navbar ul li a:hover{ 
    color: black;
    background-color: white;
} 
/* Home Section */
#home{
    display: flex;
    height: 700px;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: " ";
    background:url('../image3.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;

}
#home p{
    color: white;
    text-align: center;
    font-size:1.2rem;
    font-family: 'Bree Serif', serif;
}
/* Services container */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 2px;
    border-radius: 28px;
    background-color: #f2f2f2;
}

#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family:'Bree Serif', serif; 

}
/* client section */
#client-section{
    position: relative;
  
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../1.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;

}
#clients img{
    height: 144px;
}



#contact{
    position: relative;
}
#contact::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(../contact\ image.jpg) no-repeat center center/cover;
}

/* contact section */
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
 /* #contact-box input{
    width: 100%;
    padding: 0.5rem;
 } */

 #contact-box input,
 #contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;

 }
#contact-box form{
    width: 40%;
    
}
#contact-box label{
   font-size: 1.3rem;
   font-family: 'Courier New', Courier, monospace;

}
/* footer{
    background-color: black;
    padding: 14px;
    color:white;
} */
/* footer  */
footer{
    background-color: black;
    padding: 9px;
    color: white;
}





/* utility class  */
.h-primary{
    font-size: 3.8rem;
    padding: 10px;
    font-family: 'Bree Serif', serif;
}
.h-secondary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px ;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}